{% extends "base.html" %}
{% load static %}

{% block content %}
<div x-data="getItems">
  <hgroup>
    <h2>Despesas</h2>
    <h3>Exemplo de despesas</h3>
  </hgroup>

  <a
    href="#"
    role="button"
    @click.prevent="openModal()"
  >Adicionar</a>

  {% include 'expense/partials/table.html' %}

  {% include 'expense/partials/modal.html' %}
</div>
{% endblock content %}

{% block js %}
<script
  src="{% static 'js/expense.js' %}"
  data-tokens='{ "csrf": "{{ csrf_token }}" }'
></script>
{% endblock js %}